@use "../../../universal-styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import "variables";
@import "mq";
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background: $white;
    font-family: $font-family;
    font-size: $font-size-p;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        display: flex;
        min-height: 97vh;
        max-height: 100vh;

        section {
            align-items: center;
            justify-content: center;
            width: 100%;

            // border: red 2px solid;
            display: flex;

            &.card-section {
                background: url(../images/bg-main-desktop.png) no-repeat 50%, $l-gradient;
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: f.rem(32);
                .card {
                    color: $white;
                    // width: 500px;
                    // height: 300px;
                    position: relative;
                    //   display: inline-block;
                    //   vertical-align: middle;
                    width: 425px;
                    height: 250px;
                    padding: f.rem(28);
                    border-radius: 20px;
                    scale: 0.8;
                    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
                    &.front {
                        background: url(../images/bg-card-front.png) no-repeat;
                        // position: absolute;
                        // top: 20%;

                        // left: 100px;
                        // width: 100%;
                        // height: 100%;
                        display: flex;
                        flex-direction: column;

                        // border: red solid 2px;
                        .card-inner {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }
                        .card-details {
                            display: flex;
                            flex-direction: column;
                            gap: f.rem(16);
                            text-transform: uppercase;
                            #cardNo {
                                font-size: f.em(24);
                                letter-spacing: 5px;
                            }
                            .more-details {
                                display: flex;
                                flex-direction: row;
                                font-size: f.em(12);
                                justify-content: space-between;
                            }
                        }
                    }
                    &.back {
                        // position: absolute;
                        background: url(../images/bg-card-back.png) no-repeat;
                        // top: 60%;
                        .card-inner {
                            height: 100%;
                            display: flex;
                            justify-content: end;
                            padding-bottom: f.rem(8);
                            align-items: center;
                        }
                    }
                }
            }
            form {
                width: 50%;

                .step {
                    display: none;
                    &.active {
                        display: block;
                    }
                    .form-details {
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: f.rem(32);
                        .form-group {
                            display: flex;
                            flex-direction: column;
                            gap: f.rem(8);
                            label {
                                text-transform: uppercase;
                            }
                            .input {
                                width: 100%;
                                border-radius: f.rem(8);
                                padding: f.rem(16);
                                border: 1px solid $l-gray-violet;
                                &:focus {
                                    border: 1px solid $v-dark-violet;
                                }
                            }

                            .exp-date {
                                display: flex;
                                flex-direction: row;
                                gap: f.rem(8);
                            }
                        }
                        button {
                            background: $v-dark-violet;
                            color: $l-gray-violet;
                            border-radius: f.rem(8);
                            padding: f.rem(16);
                            width: 100%;
                            cursor: pointer;
                        }
                        .imp-info {
                            display: flex;
                            flex-direction: row;
                            gap: f.rem(8);
                        }
                    }
                }
            }
        }
        // .card {
        //
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     gap: f.rem(16);
        //     background: $white;
        //     text-align: center;
        //     flex-direction: column;
        //     padding: f.em(16);
        //     max-width: 300px;

        //     &__img {
        //         width: 100%;
        //         height: auto;
        //         border-radius: f.em(10);
        //     }
        //     &__header {
        //         font-weight: $font-bold;
        //         font-size: f.rem(20);
        //         color: $dark-blue;
        //     }
        //     &__body {
        //         font-weight: $font-normal;
        //         font-size: $font-size-p;
        //         color: $grayish-blue;
        //     }
        // }
    }

    .attribution {
        padding-block-end: f.rem(16);
        font-size: f.rem(11);
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
