@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap');

// ## Layout
$mobile-w:375px;
$desktop-w:1440px;

// ## Colors
$white:hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// ## Typography
$font-size-p:15px;

// Font
$font-family: 'Outfit', sans-serif;

$font-normal:400;
$font-bold:700;
