@use "../../../universal-styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap");

@import "variables";
@import "mq";
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background: $light-gray;
    font-family: $font-family;
    font-size: $font-size-p;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    .container {
        margin: 0 auto;
        max-width: 100%;
        .card {
            border-radius: f.rem(16);
            display: flex;
            box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.35);
            align-items: center;
            justify-content: center;
            gap: f.rem(16);
            background: $white;
            text-align: center;
            flex-direction: column;
            padding: f.em(16);
            max-width: 300px;

            &__img {
                width: 100%;
                height: auto;
                border-radius: f.em(10);
            }
            &__header {
                font-weight: $font-bold;
                font-size: f.rem(20);
                color: $dark-blue;
            }
            &__body {
                font-weight: $font-normal;
                font-size: $font-size-p;
                color: $grayish-blue;
            }
        }
    }

    .attribution {
        padding-block-end: f.rem(16);
        font-size: f.rem(11);
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
