@use "../../../universal-styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@400;600;700&display=swap");

// ## Layout
$mobile-w: 375px;
$desktop-w: 1440px;

// ## Colors
$white: hsl(0, 0%, 100%);

$green: hsl(140, 94%, 57%);
$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);

// ## Typography
$font-size-p: f.rem(14);

// Font
$font-family: "Inter", sans-serif;

$font-normal: 400;
$font-bold: 600;
$font-ex-bold: 700;
