@use "../../../universal-styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import "variables";
@import "mq";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background: $very-light-gray;
    font-size: $font-size-p;
    user-select: none;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: $very-dark-cyan;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
        background: $dark-cyan;
    }

    .container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 93.5vh;
        .card-container {
            width: 50vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 65vh;
                min-width: 200px;
                padding: f.rem(32);
                &__top {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: f.rem(32);
                    img {
                        width: f.rem(50);
                    }
                    h1 {
                        text-transform: uppercase;
                        font-family: $big-shoulders;
                        color: $trans-white;
                    }
                    p {
                        color: $trans-white;
                        font-size: f.rem(12);
                        font-family: $lexend-deca;
                    }
                }

                a {
                    display: block;
                    border-radius: f.rem(50);
                    font-family: $lexend-deca;
                    background: $trans-white;
                    padding: f.rem(8) f.rem(16);
                    &.sedan {
                        color: $bright-orange;
                    }
                    &.suvs {
                        color: $dark-cyan;
                    }
                    &.luxury {
                        color: $very-dark-cyan;
                    }
                    &:hover {
                        outline: $trans-white 2px solid;
                        background: transparent;
                        color: $trans-white;
                    }
                }
                &.sedan {
                    background: $bright-orange;
                    border-top-left-radius: f.rem(10);
                    border-bottom-left-radius: f.rem(10);
                }
                &.suvs {
                    background: $dark-cyan;
                }
                &.luxury {
                    background: $very-dark-cyan;
                    border-top-right-radius: f.rem(10);
                    border-bottom-right-radius: f.rem(10);
                }
            }
        }
    }

    footer {
        padding-block: f.rem(10);
        font-size: f.rem(11);
        .attribution {
            color: $dark-cyan;
            text-align: center;
            a {
                color: $bright-orange;
            }
        }
    }
}
