@use "../../../universal-styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

// Colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

$box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);

// ## Typography
$font-size-p: f.rem(13);

// Font
$font-family: "Manrope", sans-serif;

$font-normal: 500;
$font-bold: 700;
