@use "../universal-styles/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap");

@import "variables";
@import "mq";
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    margin: 0 auto;
    background: $light-gray;
    font-family: $font-family;
    font-size: $font-size-p;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        width: 75%;
        margin: 0 auto;
    }
    header {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 300px;
        background: linear-gradient(350deg, #000000, $frontend-io);
        h1 {
            text-transform: uppercase;
            font-size: xx-large;
            padding: f.rem(32) 0;
        }
    }
    a {
        color: $black;
        &:visited {
            color: $black;
        }
    }
    main {
        padding: f.rem(32) 0;

        h2 {
            font-weight: $font-bold;
            font-size: f.rem(20);
            padding: f.rem(32) 0;
            text-align: center;
        }
        .projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            // display: grid;
            // grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: f.rem(16);
            .project {
                flex: 33%;
                border-radius: f.rem(16);
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: f.rem(16);
                box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.35);

                justify-content: space-between;
                // border: rgb(0, 4, 255) solid 1px;
                &__img {
                    width: 100%;
                    height: 200px;
                    border-radius: f.rem(10);
                    // box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.35);
                }

                &__body {
                    // transform: translateY(0px);
                    display: flex;
                    // width: max-content;
                    // display: none;
                    flex-direction: column;
                    gap: f.rem(16);
                    padding: f.rem(12);
                    &__header {
                        display: flex;
                        justify-content: space-between;
                        h4 {
                            padding: f.rem(6) 0;
                        }
                        .level {
                            display: flex;
                            flex-wrap: wrap;
                            border-radius: f.rem(8);
                            overflow: hidden;
                          

                            span {flex-grow: 1;text-align: center;
                                padding: f.rem(6);
                            }
                            &.newbie {
                                border: $newbie 1px dotted !important;
                            }
                            &.advanced {
                                border: $advanced 1px dotted !important;
                            }
                            &.junior {
                                border: $junior 1px dotted !important;
                            }
                            &.intermediate {
                                border: $intermediate 1px dotted !important;
                            }
                            &.guru {
                                border: $guru 1px dotted !important;
                            }
                            &__no {
                                &.newbie {
                                    background-color: $newbie !important;
                                }
                                &.junior {
                                    background-color: $junior !important;
                                }
                                &.intermediate {
                                    background-color: $intermediate !important;
                                }
                                &.advanced {
                                    background-color: $advanced !important;
                                }

                                &.guru {
                                    background-color: $guru !important;
                                }
                            }
                        }
                    }

                    &__tags {
                        display: flex;
                        flex-wrap: wrap;
                        gap: f.rem(8);
                        .tag {
                            box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.35);

                            // background: rgb(2, 196, 255);
                            padding: 0 f.rem(8);
                            border-radius: f.rem(8);
                            font-weight: $font-bold;

                            &.html {
                                color: $html;
                            }
                            &.scss {
                                color: $scss;
                            }
                            &.js {
                                color: $js;
                            }
                            &.api {
                                color: $api;
                            }
                            &.flexbx {
                                color: $flexbx;
                            }
                        }
                    }
                }
            }
        }
    }

    // .attribution {
    //     font-size: f.rem(11);
    //     text-align: center;
    //     a {
    //         color: hsl(228, 45%, 44%);
    //     }
    // }
}
